{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "babel-plugin-add-module-exports",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "helpers": "./shared/helpers",
          "server-utils": "./server/utils",
          "client-utils": "./src/utils"
        }
      }
    ]
  ]
}
